In [39]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, on=["school_name"])
#school_data_complete.head(3)

# District summary

In [4]:
total_schools = len(school_data['school_name'])
total_student = len(student_data['Student ID'])
total_budget = school_data['budget'].sum()
avg_math_score = round(student_data['math_score'].sum()/total_student,4)
avg_reading_score = round(student_data['reading_score'].sum()/total_student,4)
percent_pass_math = len(student_data[student_data['math_score'] >= 70])*100/total_student
percent_pass_reading = len(student_data[student_data['reading_score'] >= 70])*100/total_student
overall_passing = (percent_pass_math + percent_pass_reading)/2

#District Summary 
district_summary = pd.DataFrame({"Total Schools": [total_schools], "Total Students": [total_student],
           "Total Budget": [total_budget], "Average Math Score":[avg_math_score],
           "Average Reading Score":[avg_reading_score], "% Passing Math":[percent_pass_math],
          "% Passing Reading":[percent_pass_reading], "% Overall Passing Rate":[overall_passing]
          })
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.9854,81.8778,74.980853,85.805463,80.393158

# School Summary

In [47]:
#groupby_school = school_data_complete.groupby(['school_name'])
school_name = school_data_complete['school_name'].unique()
school_summary = {}
for name in school_name:
    school_summary.update({name:[]}) #dictionary of all the school 

for i in range(len(school_name)):
    data = school_data_complete[school_data_complete['school_name'] == school_name[i]] #get a subset of the data with that shcool name 
    
    #name = school_name[i]
    school_type = list(data['type'])[0]
    total_student = data['Student ID'].count()
    total_school_budget = list(data['budget'])[0]
    Per_Student_Budget = total_school_budget/total_student
    average_math_score = round(data['math_score'].sum()/total_student,4)
    average_reading_score = round(data['reading_score'].sum()/total_student,4)
    pass_math = round(len(data[data['math_score'] >= 70])*100/total_student,4)
    pass_reading = round(len(data[data['reading_score'] >= 70])*100/total_student,4)
    avg_passing_rate = round((pass_math + pass_reading)/2,4)
    school_summary[school_name[i]] = [school_type,total_student,total_school_budget,
                                      Per_Student_Budget,average_math_score,average_reading_score,
                                      pass_math,pass_reading,avg_passing_rate]
    
    #data = data.iloc[0:0] #reset
for i in range(15):
    print(school_summary[school_name[i]])

['District', 2917, 1910635, 655.0, 76.6294, 81.1827, 65.6839, 81.3164, 73.5001]
['District', 2949, 1884411, 639.0, 76.7118, 81.158, 65.9885, 80.7392, 73.3638]
['Charter', 1761, 1056600, 600.0, 83.3595, 83.7257, 93.8671, 95.8546, 94.8608]
['District', 4635, 3022020, 652.0, 77.2898, 80.9344, 66.753, 80.863, 73.808]
['Charter', 1468, 917500, 625.0, 83.3515, 83.8168, 93.3924, 97.139, 95.2657]
['Charter', 2283, 1319574, 578.0, 83.2742, 83.9895, 93.8677, 96.5396, 95.2036]
['Charter', 1858, 1081356, 582.0, 83.0619, 83.9758, 94.1335, 97.0398, 95.5866]
['District', 4976, 3124928, 628.0, 77.0484, 81.034, 66.6801, 81.9333, 74.3067]
['Charter', 427, 248087, 581.0, 83.8033, 83.815, 92.5059, 96.2529, 94.3794]
['Charter', 962, 585858, 609.0, 83.8399, 84.0447, 94.5946, 95.9459, 95.2702]
['Charter', 1800, 1049400, 583.0, 83.6822, 83.955, 93.3333, 96.6111, 94.9722]
['District', 3999, 2547363, 637.0, 76.8427, 80.7447, 66.3666, 80.2201, 73.2934]
['District', 4761, 3094650, 650.0, 77.0725, 80.9664, 66.0576, 81.2224, 73.64]
['District', 2739, 1763916, 644.0, 77.1026, 80.7463, 68.3096, 79.299, 73.8043]
['Charter', 1635, 1043130, 638.0, 83.4183, 83.8489, 93.2722, 97.3089, 95.2906]

In [75]:
result = pd.DataFrame(school_summary)
label = [['School Type','Total Students','Total School Budget',
          'Per Student Budget','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing Rate']]
result.set_index(label).T.sort_values(by= ['% Overall Passing Rate'], ascending = False)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582,83.0619,83.9758,94.1335,97.0398,95.5866
Thomas High School,Charter,1635,1043130,638,83.4183,83.8489,93.2722,97.3089,95.2906
Pena High School,Charter,962,585858,609,83.8399,84.0447,94.5946,95.9459,95.2702
Griffin High School,Charter,1468,917500,625,83.3515,83.8168,93.3924,97.139,95.2657
Wilson High School,Charter,2283,1319574,578,83.2742,83.9895,93.8677,96.5396,95.2036
Wright High School,Charter,1800,1049400,583,83.6822,83.955,93.3333,96.6111,94.9722
Shelton High School,Charter,1761,1056600,600,83.3595,83.7257,93.8671,95.8546,94.8608
Holden High School,Charter,427,248087,581,83.8033,83.815,92.5059,96.2529,94.3794
Bailey High School,District,4976,3124928,628,77.0484,81.034,66.6801,81.9333,74.3067
Hernandez High School,District,4635,3022020,652,77.2898,80.9344,66.753,80.863,73.808
Ford High School,District,2739,1763916,644,77.1026,80.7463,68.3096,79.299,73.8043
Johnson High School,District,4761,3094650,650,77.0725,80.9664,66.0576,81.2224,73.64
Huang High School,District,2917,1910635,655,76.6294,81.1827,65.6839,81.3164,73.5001
Figueroa High School,District,2949,1884411,639,76.7118,81.158,65.9885,80.7392,73.3638
Rodriguez High School,District,3999,2547363,637,76.8427,80.7447,66.3666,80.2201,73.2934

In [ ]:
#groupby_school = school_data_complete.groupby(['school_name'])
school_name = school_data_complete['school_name'].unique()
school_summary = {}

for name in school_name:
    school_summary.update({name:[]}) #dictionary of all the school 

for i in range(len(school_name)):
    data = school_data_complete[school_data_complete['school_name'] == school_name[i]] #get a subset of the data with that shcool name 
    
    #name = school_name[i]
    school_type = list(data['type'])[0]
    total_student = data['Student ID'].count()
    total_school_budget = list(data['budget'])[0]
    Per_Student_Budget = total_school_budget/total_student
    average_math_score = round(data['math_score'].sum()/total_student,4)
    average_reading_score = round(data['reading_score'].sum()/total_student,4)
    pass_math = round(len(data[data['math_score'] >= 70])*100/total_student,4)
    pass_reading = round(len(data[data['reading_score'] >= 70])*100/total_student,4)
    avg_passing_rate = round((pass_math + pass_reading)/2,4)
    school_summary[school_name[i]] = [school_type,total_student,total_school_budget,
                                      Per_Student_Budget,average_math_score,average_reading_score,
                                      pass_math,pass_reading,avg_passing_rate]
    
    #data = data.iloc[0:0] #reset
for i in range(15):
    print(school_summary[school_name[i]])